<!DOCTYPE html>
<html lang="en">
<body>
<!--header -->
<div id="header-wrap">
    <div id="header"><a name="top"></a>
        <h1 id="logo-text"><a href="#">TSM Monitoring Services</a></h1>
        <div id="nav">
            <ul>
                <li id="current"><a href="index.php">Version Query</a></li>
                <li id="current"><a href="http://94.103.41.146:9091/versions/excel/">Export Versions to Excel</a></li>
                <li id="current"><a href="genelindirme.php">Update Status</a></li>
                <li id="current" class="active"><a href="gmpMesajlari.php">GMP Messages</a></li>
            </ul>
        </div>
    </div>
</div>
    {% block content %}
    {% endblock %}
</body>
